$primaryColor: #6F00C1;
$secondaryColor: #4700D3;

$primaryLight: #ffffff;
$lightGray: #F5F5F5;
$darkGray: #555555;
$primaryDark: #151515;

$maxWidthLayout: 1200px;
$headerFontSize: 45px;
$primaryFontSize: 20px;
$primaryFontSizeSmall: 16px;

$spacingRegular: 10px;

$breakPointTablet: 768px;
$breakPointDesktop: 1000px;