$primaryColor: #6F00C1;
$secondaryColor: #4700D3;
$primaryLight: #ffffff;
$lightGray: #F5F5F5;
$darkGray: #555555;
$primaryDark: #151515;
$maxWidthLayout: 1200px;
$headerFontSize: 45px;
$primaryFontSize: 20px;
$primaryFontSizeSmall: 16px;
$spacingRegular: 10px;
$breakPointTablet: 768px;
$breakPointDesktop: 1000px;
@mixin flex-parent($direction: row) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: wrap;
    @content;
}

@mixin flex-element($grow: 0) {
    flex-shrink: 0;
    flex-grow: $grow;
    flex-basis: auto;
    @content;
}

.footer {
    @include flex-parent;
    width: 100%;
    .purple_bg {
        @include flex-element;
        width: 100%;
        background-color: $primaryColor;
        .navigate_yourself {
            @include flex-parent;
            @include flex-element;
            margin-top: $spacingRegular*6;
            margin-bottom: $spacingRegular*6;
            width: 100%;
            h1,
            p,
            h4 {
                @include flex-element;
                width: 100%;
                color: $primaryLight;
            }
            ul {
                @include flex-element;
                @include flex-parent;
                width: 100%;
                text-decoration: none;
                li {
                    display: block;
                    @include flex-element;
                    a {
                        color: $primaryLight;
                        font-weight: 200;
                        padding: $spacingRegular $spacingRegular*2 $spacingRegular 0;
                        &:hover {
                            color: $primaryDark;
                        }
                    }
                }
            }
        }
    }
    .bottom_bar {
        @include flex-element;
        @include flex-parent;
        width: 100%;
        background-color: $primaryDark;
        .left {
            @include flex-element;
            width: 50%;
            img {
                padding: $spacingRegular*2;
            }
        }
        .right {
            @include flex-element;
            @include flex-parent;
            width: 50%;
            b {
                color: $primaryLight;
                margin: auto 0 auto auto;
                small {
                    font-weight: 300;
                }
            }
        }
    }
}